*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body
{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background: #111;
}
.background
{
    width: 500px;
    height: 306px;
    position: relative;
}
.light
{
    width: 100%;
    height: 80%;
    margin-top: 65px;
    background: linear-gradient(70deg,purple,pink,blue,cyan,green,lightgreen,purple,pink,blue,cyan,green,lightgreen,purple);
    position: absolute;
    background-size: 500%;
    left: 0;
    filter: blur(10px);
    border-radius: 20px;
    top: 0;
    animation: light 70s linear infinite;
}
@keyframes light
{
    0%
    {
        background-position: 0 0;
    }
    0%
    {
        background-position: 500% 0;
    }
}
.keyboard
{
    width: 104%;
    height: 101%;
    position: relative;
    background: url(key.png);
    background-size: 100%;
    background-position: center;
    
    
}



















